div .service-card {
    background:rgb(81, 199, 253);
    margin:auto;
    padding: 8px;
    width: 20%;
    min-height: 370px;
    margin-bottom: 30px;
    border-radius: 8px;
    text-align: center;
}

