div #services {
    display:flex;
    /* align-items: flex-center; */
    margin-bottom: 10%;
    margin-top: 50px;
}

div .service-card {
    background:rgb(81, 199, 253);
    margin:auto;
    padding: 8px;
    width: 20%;
    min-height: 370px;
    margin-top: 0;
    border-radius: 8px;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;  */
    display: none;
    
}

@media (max-width: 1000px) {
    body {background: lightblue;}
    #services {
        flex-direction: column;

    }
    div .service-card {
        flex-direction: column;
        width: 70%;
        margin-bottom: 6%;
        min-height: 0;
    }
    
    #video {
        width: 75%;
        height: 30vh;
    }
}

.service-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

